/* webpage */
body {background-color: black}

/* MAP */
.map {
    border: medium solid #FFFFFF;
    margin: 10px 0 0 20px;
}

/* graticule */

.gratBackground {
    fill: none;
}

.gratLines {
    fill: none;
    stroke: #eeeeee;
    stroke-width: 0.5px;
    stroke-opacity: .6;
}

/* areas */

.drawLand {
    fill: #A9DFBF;
    stroke-width: 0px;
}
.drawB0 {
    fill: #138D75;
    stroke-width: 0px;
}
.drawB1 {
    fill: #0E6655;
    stroke-width: 0px;
}
.drawB3 {
    fill: #0B5345;
    stroke-width: 0px;
}
.drawB5 {
    fill: #1B2631;
    stroke-width: 0px;
}

.prefectures {
    fill: #FFFFFF;
    stroke: black;
    stroke-width: .7px;
    stroke-linecap: round;
    stroke-dasharray: 7
}

/* CHART */
.chart {
    float: right;
    margin: 10px 20px 0 0;
}

.chartBackground {
    fill: #FFFFFF;
}

.chartFrame {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.chartTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    fill: #FFFFFF;
}

/* chart axis */

.axis path,
.axis line {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8em;
    fill: #999;
}

.numbers {
    fill: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.supplementaryText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
};
